<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de tareas</title>
    <link href="/style.css/" rel="stylesheet">
</head>

<body>
    <h1>Lista de tareas</h1>
    <h2>¡Anímate a organizar lo que tienes que hacer!</h2>
    <%= yield %>
    <footer>
    <p><small>¿Podrás hacerlo todo hoy?</small></p>
  </footer>
</body>
</html>
